*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fl{
    float: left;
} 

.fr{
    float: right;
} 

.clearfix{
    clear: both;
}

/* ---------------------- */


header{
    height: 80hv;
    width: 100%;
    background-color: #1b62e8;
    position: fixed;
    z-index: 1;
}

.container{
    width: 1200px;
    height: 70px;
    background-color: #1b62e8;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.logo{
    position: absolute;
    width:150px;
    left: 0;
    line-height: 70px;
}

.logo img{
    width: 100%;
    background: center;
    vertical-align: middle;
    
}

.menu{
    display: inline-block;
    position: absolute;
    left: 50%;
    margin: 0px 20px;
    transform: translate(-50%);
    line-height: 70px;
    
}

.login{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    background-color: #fff;
    border-radius: 40px;
   padding: 4px 15px;
    text-align: center;
}

.login a{
    text-decoration: none;
    color: #111;
    font-size: 18px;
    line-height: 40px;
}

ul{
    list-style-type: none;
}

li{
    padding: 0px 15px;
    display: inline-block;
}

li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}

.content-main{
    height: 80vh;
    background: url(../img/jumbo.png) center no-repeat;
    background-size: cover;
    width: 100%;
}

.content-jumbotron{
    width: 1200px;
    margin: 0 auto;
    height: 80vh;
    position: relative;
}

.jumbotron{
    width: 950px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.jumbotron h1{
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.jumbotron div{
    font-size: 25px;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.pulsanti-download{
    text-align: center;
    width: 550px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}



.button a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    border-radius: 40px;
    padding: 15px 25px;
     text-align: center;
}

.black a{
    color: #fff;
    background-color: #22272a;
}

.white a{
    color: #000;
    background-color: #fff;
}

.box{
    width: 100%;
    padding: 0px 20px;
    padding-top: 100px;
   
}

.box-1{
    width: 1200px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.grey{
    background-color: #eee;
}

.foto{
    width: 600px;
    height: 700px;
    
}

.foto img{
    width: 100%;
}

.testo{
    
    width: 500px;
    height: 700px;
    vertical-align: bottom;
    padding-top: 30px;
    padding-left: 140px;
    padding-right: 90px;
}

.testo h1{
    font-size: 35px;
    font-weight: bolder;
    color: #222;
}
.testo div{
    font-size: 20px;
    margin-top: 30px;
    color: #222;
}

.testo-finale{
text-align: center;
}

.testo-finale h1{
    font-size: 40px;
    font-weight: bolder;
    color: #222;
    margin-bottom: 20px;
}
.testo-finale div{
    font-size: 20px;
    margin-top: 30px;
    color: #222;
}

.foto-finale{
    display: block;
    width: 900px;
    height: 700px;
    position: relative;
    left: 50%;
    transform: translate(-50%);

    
    
}

.foto-finale img{
    width: 100%;
}

.final-text{
    padding-bottom: 100px;
}

.final-text h1{
    text-align: center;
    line-height: 100px;
    background: url(../img/stars.svg)  center no-repeat ;
    font-size: 25px;
    font-weight: bolder;
    color: #222;
    
}

.blue a{
    display: block;
    margin: 0 auto;
    width: 300px;
    color: #fff;
    background-color: #7289da;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    border-radius: 30px;
    padding: 15px 25px;
    text-align: center;
}

.grey{
    background-color: #eee;
}

.dark{
    background-color: #22272a;
}